/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./gallery.css');
@import url('./back-link.css');
@import url('./form.css');

.back-link {
  position: fixed;
  top: 20px;
  left: 20px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 6px;
  z-index: 1000;
}

/* form */


